<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">


    <!-- Title -->
    <title>Fast Voting System for Batch Representative </title>

    <!-- Favicon 
    <link rel="icon" href="img/core-img/logo.png">
    -->


    <!-- Core Stylesheet -->

</head>

<body>
    
    <!-- ##### Preloader ##### -->
    <!--
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="/img/core-img/logo.png" alt="">
            <div class="foode-preloader">
            </div>
        </div>
    </div>
-->
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

       

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="foode-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar" id="foodeNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="/img/core-img/slogo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp Home</a></li>
                                    
                                    <li><a href="/addAdmin"><i class="material-icons">&#xe7f0;</i>&nbsp Add Admin</a></li>
                                    <li><a href="about-us.html"><i class="material-icons">&#xe7f0;</i>&nbsp Add Candidate</a></li>
                                    <li><a href="about-us.html"><i class="fa fa-trash"></i>&nbsp Delete Candidate</a></li>
                                    <li><a href="about-us.html"><i class="fa fa-trash"></i></span>&nbsp Delete Voter</a></li>
                                    <li><a href="#"><i class="fa fa-search"></i>search Voter</a>
                                        <ul class="dropdown">
                                            <li><a href="archive-blog.html">Voter by Username</a></li>
                                            <li><a href="single-post.html">Voter by RollNumber</a></li>
                                            

                                            
                                        </ul></li>
                                    <li><a href="about-us.html"><i class="fa fa-search"></i></span>&nbsp Search Candidate by RollNumber</a></li>
 
                                    <li><a href="/voter_ViewProfileVoter"><span class="glyphicon glyphicon-user"></span>&nbsp My Profile</a></li>
                                    <li><a href="/signout"><span class="glyphicon glyphicon-off"></span>&nbsp Log Out</a></li>

                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    <div class="row justify-content-center text-center">
            <div class="col-12 col-lg-10">
            
                <p><%= data%> </p>
                <!--should send it to signup-->
                <a href="/homeA" class="btn foode-btn btn-sm">Okay</a>


                
            </div>
        </div>

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            

            <div class="row">
                <div class="col-12">
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
   
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>