<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">


    <!-- Title -->
    <title>Fast Voting System for Batch Representative </title>

    <!-- Favicon 
    <link rel="icon" href="img/core-img/logo.png">
    -->


    <!-- Core Stylesheet -->

</head>

<body>
    
    <!-- ##### Preloader ##### -->
    <!--
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="circle-preloader">
            <img src="/img/core-img/logo.png" alt="">
            <div class="foode-preloader">
            </div>
        </div>
    </div>
-->
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="top-header-content d-flex align-items-center justify-content-between">
                            <!-- Search Form -->
                            <div class="search-form">
                                
                                <form action="/voter_search_candidate?search=<% %>",method="get">
                                    <input type="search" name="search" class="form-control" id="sear" placeholder="Search and hit enter...">
                                  
                                    <button href="/voter_search_candidate?search=<% %>"  type="submit" method="get"><i class="fa fa-search"></i></button>
                                  

                                </form>
                                
                            </div>
                            

                            <!-- Social Button -->
                            <div class="top-social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Logo Area -->
        <div class="logo-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="/img/core-img/logo.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="foode-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar" id="foodeNav">

                        <!-- Nav brand -->
                        <a href="index.html" class="nav-brand"><img src="/img/core-img/slogo.png" alt=""></a>

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#"><span class="glyphicon glyphicon-home"></span>&nbsp Home</a></li>
                                    
                                    <li><a href="/CastVote"><span class="glyphicon glyphicon-ok"></span>&nbsp Cast Vote</a></li>
                                    <li><a href="about-us.html"><span class="glyphicon glyphicon-eye-open"></span>&nbsp View All Candidates</a></li>
                                    <li><a href="/ViewProfileVoter"><span class="glyphicon glyphicon-user"></span>&nbsp My Profile</a></li>
                                    <li><a href="/signout"><span class="glyphicon glyphicon-off"></span>&nbsp Log Out</a></li>

                                </ul>

                            </div>
                            <!-- Nav End -->
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Hero Area Start ##### -->
    <section class="hero-area">
        <div class="hero-post-slides owl-carousel">

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic1.jpeg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                   
                    <a href="#" class="post-title">
                        <h4>Hamza Khan</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic2.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    
                    <a href="#" class="post-title">
                        <h4>Danial Kamal</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic3.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    
                    <a href="#" class="post-title">
                        <h4>Sofia Raza</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic4.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    
                    <a href="#" class="post-title">
                        <h4>Noor Rizwi</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic5.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    
                    <a href="#" class="post-title">
                        <h4>Aiza Khan</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic6.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    
                    <a href="#" class="post-title">
                        <h4>Tehleel Gulalayi</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic7.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                 
                    <a href="#" class="post-title">
                        <h4>Arooj Jaffery</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic8.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    
                    <a href="#" class="post-title">
                        <h4>Abbas Khan</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic9.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                    
                    <a href="#" class="post-title">
                        <h4>Muneeb Butt</h4>
                    </a>
                </div>
            </div>

            <!-- Single Hero Post -->
            <div class="single-hero-post">
                <!-- Post Image -->
                <div class="slide-img bg-img" style="background-image: url(/img/slideshow/pic10.jpg);"></div>
                <!-- Post Content -->
                <div class="hero-slides-content">
                 
                    <a href="#" class="post-title">
                        <h4>Arsal Mehmood</h4>
                    </a>
                </div>
            </div>

        </div>
    </section>
    <!-- ##### Hero Area End ##### -->

    <!-- ##### Blog Content Area Start ##### -->
    <section class="blog-content-area section-padding-100">
        <div class="container">
            
                    
                
                <a href="/voter_view_candidate_list_filter" class="btn foode-btn btn-sm">Filter out Candidates by batch</a>


            <div class="row justify-content-center">
                <!-- Blog Posts Area -->
                <div class="col-12 col-lg-8">
                    <div class="blog-posts-area">
                            <% 
                            console.log(data);
    
                            var candArray = data;
                            
                            candArray.forEach(function(cand) { %>

                        <!-- Single Blog Post -->
                        <div class="single-blog-post d-flex flex-wrap mt-50">
                            <!-- Thumbnail -->
                            <div class="post-thumbnail mb-50">
                                <a href="#"><img src="/img/slideshow/pic2.jpg" alt=""></a>
                            </div>
                            <!-- Content -->
                            <div class="post-content mb-50">
                               
                                <a href="#" class="post-title">
                                    <h4><%= cand.username %></h4>
                                </a>
                                
                                <p class="post-excerpt">Roll Number:  <%= cand.roll_num %> </br>
                                    batch: <%= cand.batch %></p>
                                    <a href='/candidate?roll_num=<%= cand.roll_num %>'
                                        class="read-more-btn">Get More information <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                
                               </div>
                            <!-- Post Curve Line -->
                            <img class="post-curve-line" src="/img/core-img/post-curve-line.png" alt="">
                        </div>
                        <% }); %>
                    </div>    
                </div>
                        

                <!-- Blog Sidebar Area -->
                <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                    <div class="post-sidebar-area">

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>About Me</h6>
                            </div>
                            <!-- Thumbnail -->
                            <div class="about-thumbnail">
                                <img src="/img/slideshow/pic1.jpeg" alt="">
                            </div>
                            <!-- Content -->
                            <div class="widget-content text-center">
                                <p>Hamza Khan</p>
                                <p>Head of this Department </p>
                            </div>
                        </div>

                        <!-- ##### Single Widget Area ##### -->
                        <div class="single-widget-area">
                            <!-- Title -->
                            <div class="widget-title">
                                <h6>Subscribe &amp; Follow</h6>
                            </div>
                            <!-- Widget Social Info -->
                            <div class="widget-social-info text-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-rss"></i></a>
                            </div>
                        </div>

                        

                           

                            
                                

                        </div>

                        

                        

                        

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ##### Blog Content Area End ##### -->

    <!-- ##### Instagram Area Start ##### -->
    <div class="follow-us-instagram">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>University Pictures</h2>
                      
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="instagram-slides owl-carousel">
                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="/img/blog-img/insta1.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="/img/blog-img/insta2.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="/img/blog-img/insta3.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="/img/blog-img/insta4.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="/img/blog-img/insta5.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>

                        <!-- Single Instagram Slide -->
                        <div class="single-instagram-slide">
                            <img src="/img/blog-img/insta6.jpg" alt="">
                            <a href="#"><i class="fa fa-instagram"></i>Follow Me</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Instagram Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="container">
            

            <div class="row">
                <div class="col-12">
                    <div class="copywrite-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
   
    <!-- jQuery-2.2.4 js -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
</body>

</html>