<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form " action="/signup" method="POST">
					<span class="login100-form-title p-b-43">
						Sign Up 
                    </span>
                    
				   
					<p  ><b>Your Roll Number:</b></p>
				     
					<div class="wrap-input100 validate-input validate-form" data-validate = "Valid Roll Number is required: L164387">
							
						<input class="input100" type="text" name="email">
						<span class="focus-input100"></span>
						
						<span class="label-input100"> like->L164387</span>
					</div>
					
					<p><b>Your Password:</b></p>
					<div class="wrap-input100 validate-input validate-form" data-validate="Password is required">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
                    </div>
                    <p  ><b>Your Batch:</b></p>
                    <div class="wrap-input100 validate-input validate-form"data-validate = "Valid batch required" >
							
                            <input class="input100" type="text" name="Batch">
                            <span class="focus-input100"></span>
                            
                            <span class="label-input100"> input it like 16</span>
                        </div>
                        <p  ><b>Your Name:</b></p>
                                <div class="wrap-input100 validate-input" >
                                        
                                        <input class="input100" type="text" name="nam">
                                        <span class="focus-input100"></span>
                                        
                                        <span class="label-input100"> </span>
                                    </div>
                    
                        <p  ><b>Your CNIC:</b></p>
                        <div class="wrap-input100 validate-input" >
                                
                                <input class="input100" type="text" name="CNIC">
                                <span class="focus-input100"></span>
                                
                                <span class="label-input100"> xxxxx-xxxxxxxx-x</span>
                            </div>
                            <p  ><b>Your Guardian's CNIC:</b></p>
                        <div class="wrap-input100 validate-input" >
                                
                                <input class="input100" type="text" name="gcnic">
                                <span class="focus-input100"></span>
                                
                                <span class="label-input100"> xxxxx-xxxxxxxx-x</span>
                            </div>
                            <p  ><b>Your Phone Number:</b></p>
                        <div class="wrap-input100 validate-input" >
                                
                                <input class="input100" type="text" name="phone_number">
                                <span class="focus-input100"></span>
                                
                                <span class="label-input100"> yyyy-yyyyyyy</span>
                            </div>
                            <p  ><b>Your Date of Birth:</b></p>
                            <div class="wrap-input100 validate-input" >
                                    
                                    <input class="input100" type="text" name="dob">
                                    <span class="focus-input100"></span>
                                    
                                    <span class="label-input100"> day-month-year</span>
                                </div>
                                <p  ><b>Your Address:</b></p>
                                <div class="wrap-input100 validate-input" >
                                        
                                        <input class="input100" type="text" name="address">
                                        <span class="focus-input100"></span>
                                        
                                        <span class="label-input100"> </span>
                                    </div>
                                    <p  ><b>Your Gender:</b></p>
                                <div class="wrap-input100 validate-input" >
                                        
                                        <input class="input100" type="text" name="gender">
                                        <span class="focus-input100"></span>
                                        
                                        <span class="label-input100"> Male or female</span>
                                    </div>
                                    
                                
                            

			

                    <div class="flex-sb-m w-full p-t-3 p-b-32">
							
	
							<div>
								<p  class="txt1">
									Note : You can only signup as a voter. To become a admin contact at 0344-2345678.
                                </p>
							</div>
						</div>
					<div class="container-login100-form-btn">
					
						<button class="login100-form-btn" type="submit" value="Submit"  >
							Sign-up
						</button>
						
					</div>
					
					
					

					
				</form>

				<div class="login100-more" style="background-image: url('images/bg-02.png');">
				</div>
			</div>
		</div>
	</div>
	
	

	
	
<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>
	

</body>
</html>